@import url('https://fonts.googleapis.com/css2?family=Futura+Light&display=swap');
@font-face {
    font-family: 'CustomFont';
    src: url('BrownSugar.otf') format('opentype');
}

body {
    margin: 0;
    background: #fff8ef;
    font-family: 'CustomFont', sans-serif;
    font-weight: 800;
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
  }
  
  header {
    background: #fff8ef;
    position: fixed;
    height: 60px;
    width: 100%;
    z-index: 1000;
    font-family: 'CustomFont', sans-serif;
    font-weight: 800;
  }
  
  header::after {
    content: '';
    display: table;
    clear: both;
  }
  
  .logo {
    float: left;
    font-size: 26px;
  }
  
  nav {
    float: right;
    margin: 0;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  nav li {
    display: inline-block;
    margin-left: 20px;
    padding-top: 23px;
    position: relative;
  }
  
  nav a {
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 17px;
  }
  
  nav a:hover {
    color: #000;
  }
  
  nav a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: #444;
    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 250ms;
  }
  
  nav a:hover::before {
    width: 100%;
  }
  
  .scroll-section {
    height: 100vh;
    padding: 20px 20px 0px 20px;
    text-align: center;
    position: relative;
  }



  #home {
    padding: 20px 20px 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 50px;
    background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)),url('img/homepage.jpg'); /* Replace with the actual URL or path to your image */
    background-size: cover;
    background-position: center;
  }
  
  #home h2,
#home p {
    z-index: 2;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.9);
}

  #home p {
    width: 550px;
    font-family: 'Futura Light', sans-serif;
    font-weight: 320;
  }

  #about {
    background-color: #ffffff; /* Set the background color to white */
    z-index: 0;
    height: 90vh;
  }

  #contact {
    height: 17vh;
  }

  .button-container {
    z-index: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    grid-gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 0 10% 0 10%;
}

.button-container button {
    width: 100%; /* Make the button fill the entire width of its container */
    max-width: 400px; /* Set a maximum width if needed */
    height: 267px;
    margin: 10px auto; /* Center the button horizontally with auto margins */
    padding: 10px 20px;
    font-size: 16px;
    background-color: #fff8ef;
    color: #000000;
    border: none;
    cursor: pointer;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.454);
    transition: transform 0.15s ease-in-out; /* Add transition for smooth scaling */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.button-with-image {
    background-image: url('img/home.JPG'); /* Replace with the actual URL or path to your image */
    background-size: cover;
    background-position: center;
    color: #fff; /* Set text color to white or a contrasting color */
}

.button-with-image1 {
    background-image: url('img/homepagemobile.jpg'); /* Replace with the actual URL or path to your image */
    background-size: 130%;
    background-position: center 60%;
    color: #fff; /* Set text color to white or a contrasting color */
}

.button-with-image2 {
    background-image: url('img/menu.jpg'); /* Replace with the actual URL or path to your image */
    background-size: cover;
    background-position: center;
    color: #fff; /* Set text color to white or a contrasting color */
}

.button-with-image3 {
    background-image: url('img/houseblend.jpg'); /* Replace with the actual URL or path to your image */
    background-size: cover;
    background-position: center;
    color: #fff; /* Set text color to white or a contrasting color */
}

.button-container button h3 {
    font-size: 20px;
    margin: 7px 0;
    color: rgba(255, 255, 255, 1);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}

.button-container button p {
    font-size: 18px;
    margin-bottom: 10px;
    color: rgba(255, 255, 255, 1);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}

.button-container button:hover {
    transform: scale(1.1); /* Scale the button to 110% on hover */
    background-color: #fff;
}

  
  .scroll-section h2 {
    margin-top: 0;
  }
  
  .scroll-section p {
    font-size: 20px;
    margin: 20px 0;
  }
  
  nav ul li a.active {
    color: #000;
  }
  
  .contact-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    font-family: 'Futura Light', sans-serif;
    font-weight: 320;
}

.left-section,
.right-section {
    display: flex;
    align-items: center;
}

.left-section{
    flex: 1;
    margin-left: 10%;
}

.right-section {
    margin-right: 10%;
}

@media only screen and (max-width: 1163px) {
    #contact {
        height: 25vh;
      }
    
    .contact-container {
        flex-direction: column;
    }
    .left-section{
        margin-left: 0;
    }

    .right-section {
        margin-right: 0;
    }
}

.rounded-box {
    display: flex;
    align-items: center;
    height: 40px;
    width: 40px;
    background-color: #ffffff; /* Change the background color as needed */
    border-radius: 50%; /* Use 50% for a perfect circle */
    padding: 10px; /* Add padding for better appearance */
    transition: all 0.15s ease-in-out; /* Add smooth transition effect */
    box-shadow: -4px 4px 8px #a6603787; /* Add a subtle shadow */

    /* Additional styles for the link */
    text-decoration: none; /* Remove default link styling */
    color: inherit; /* Inherit text color from parent */
}

.rounded-box:hover {
    transform: scale(1.2); /* Increase size on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Add a stronger shadow on hover */
}

.popup {
    display: flex;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 75%;
    background: rgb(255, 255, 255);
    justify-content: center;
    border-radius: 10px;
    align-items: center;
    overflow: hidden;
    box-shadow: 0 2px 4px #a66037a5;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, transform 0.3s; /* Add transition for opacity */
    font-family: 'Futura Light', sans-serif;
    font-weight: 320;
}

.popup-content {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.popup h2 {
    font-family: 'CustomFont', sans-serif;
    font-size: 40px;
    font-weight: 1000;
    margin-top: 0;
}

.popup-row {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.popup-left-half,
.popup-right-half {
    flex: 1;
    text-align: center;
}

.popup-left-menu,
.popup-right-menu {
    flex: 1;
    text-align: center;
    font-family: 'CustomFont', sans-serif;
}

.popup-left-menu p,
.popup-right-menu p{
    font-size: 24px;
    line-height: 1.05;
    letter-spacing: 3px;
}

.price-row {
    margin: 15px 0;
    display: flex;
    justify-content: space-between;
}

.price-column {
    flex: 1;
}

.price-column p:first-child {
    font-weight: bold;
}

.popup-content h2:first-child {
    padding-top: 5%;
    margin-top: 0;
}

.popup-content p:last-child {
    padding-bottom: 5%;
    padding: 0 10% 5% 10%;
    margin-bottom: 0;
}

.popup-bottom-content {
    padding: 20px;
    text-align: justify;
}

.popup-content p {
    color: #000000; /* Set text color to white or a contrasting color */
    margin: 5px 0;
}

.popup.show {
    opacity: 1;
    transform: translate(-50%, -50%);
    z-index: 999;
}

.popup-left-section {
    flex: 3;
    padding: 20px 40px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Vertically center the content */
    align-items: center; /* Horizontally center the content */
}

.popup-right-section {
    flex: 2;
    text-align: center;
    background-image: url('img/beans.jpg');
    background-size: cover;
    background-position: center;
    height: 100%;
}

.popup-right-section1 {
    flex: 2;
    text-align: center;
    background-image: url('img/beans.jpg');
    background-size: cover;
    background-position: center;
    height: 100%;
}

.close-button {
    position: absolute;
    top: 20px;
    right: 25px;
    font-size: 40px;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
}

.close-button:hover {
    transform: scale(1.2);
}

@media only screen and (max-width: 840px) {
    
    
    #home {
        font-size: 40px;
        background-position: -225px center;
      }
    
      #home p {
        width: 90%;
        padding: 0 10px;
      }

      .popup{
        overflow-y: auto; /* Enable vertical scrolling when content overflows */
        max-height: 80%;
      }


      .popup-left-section {
        text-shadow: 0 0 10px rgb(255, 255, 255);
    }
      .popup-right-section {
        display: none; /* Hide on mobile */
    }
      .popup-right-section1 {
        display: none; /* Hide on mobile */
    }
    #popup2 .close-button {
        color: white; /* Set the color to white for mobile */
    }

    .popup-left-section {
        flex: 3;
        padding: 20px 40px;
        text-align: justify;
        overflow-y: auto; /* Enable vertical scrolling if content overflows */
        max-height: 80vh; /* Set a maximum height for the content */
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('img/beans.jpg');
        background-size: cover;
        background-position: center;
        color: white;
        height: 100%;
    }
    
    .popup-left-section p {
        white-space: normal; /* Allow text to wrap within paragraphs */
    }

        .popup-left-menu p,
        .popup-right-menu p{
            font-size: 20px;
            line-height: 1.05;
            letter-spacing: 2px;
        }
        .popup-content h2:first-child {
            padding-top: 10%;
            margin-top: 0;
        }
        .popup-row {
            flex-direction: column; /* Change to a single column layout */
        }
    
        .popup-left-half,
        .popup-right-half {
            width: 100%;
        }
}

@media only screen and (max-width: 640px) {
    #contact {
        height: 36vh;
      }
      .left-section {
        flex-direction: column;
    }
}

@media only screen and (max-width: 453px) {
    .container {
        width: 90%;
        margin: 0 auto;
    }
    header {
        height: 50px;
      }
      .logo {
        font-size: 23px;
      }
    nav a {
        font-size: 14px;
      }
    nav li:first-child {
        margin-left: 0;
    }
    nav li {
        margin-left: 10px;
        padding-top: 18px;
    }
    .scroll-section p {
        font-size: 18px;
      }
      .popup-left-section {
        text-align: center;
    }
    .popup{
        overflow-y: auto; /* Enable vertical scrolling when content overflows */
        max-height: 50%;
      }
    
    #about{
        height: 160vh;
      }
    .button-container {
        grid-template-columns: 1fr; /* 1 column for smaller screens */
    }
    .button-container button {
        margin: 0 0 25px 0;
    }
}
